@media only screen and (max-width: 1024px) and (min-width: 320px)  {
        body #serviecs .slide-number {
        font-size: 2em;
        }
        body #serviecs .slide-number1 {
        font-size: 2em;
        }
        body #serviecs .slide-number2 {
        font-size: 2em;
        }
        body #serviecs .slide-number3 {
            font-size: 2em;
        }
        body #serviecs .slide-number4 {
            font-size: 2em;
        }
    body #serviecs .slideshow{
        width:80%;
        font-size: 2em;
        margin-left: 10%;
    }
    body #serviecs .slide-wrapper{
        margin-top: 10%;
    }
    body #serviecs .ser-img{
        margin-top: -220%;
        margin-left: -1%;
        width:173%;
    }
    body #about{
        margin-top: -10%;
        img{
            width: 75%;
            margin-top: -180%;
        }
        .prgraf{
            color: white;
            .lead{
                font-size:1em;
                text-align: center;
                margin-left:-70%;
                margin-top: 4%;
            }
        }
    }
}
header{
    .navbar{
        z-index: 1;
        font-style: oblique;  
        color: white; 
        width: 100%;
    }
}
#home{
    height: 109vh;
    background-color: gray;
    .videos{
        margin-left: 0;
        width: 100%;
        video{
        width: 100%;
        } 
    }
    .sam{
        position: absolute;
        text-align: center;
        color: white;
        z-index: 1;
        margin-top: -40%;
        margin-left: 4%;
    }
   
} 
#about{
    height: 100vh;
    background-color:gray;
    img{
        margin-top: -51%;
        width: 60%;
        background: none;
        border: none;
    }
    .about-bg{
        background-color: #141414;
        width: 90%;
        height: 100%;
        margin-left: 10%;  
    }
    .prgraf{
        color: white;
        text-align: center;
        height: 20%;
        width: 40%;
        margin-left: 56%;
        .lead{
            margin-top: 60%;
            font-size:1em;
        }
    }   
} 
#serviecs{
    height: 100vh;
    background-color: gray;
    .bag{
        background-color: #141414;
        width: 90%;
        height: 100%;;

    }
    .slideshow {
    overflow: hidden;
    height:100%;
    width: 43%;
    margin-left: 3%;
    text-align: center;
   }
   .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 20s ease infinite;
    margin-top: 50%;
    }
    .slide {
    float: left;
    height: 510px;
    width: 728px;
    }
  
    .slide-number {
      color: rgb(255, 240, 240);
    text-align: center;
    font-size: 2.6em;
    }
    .slide-number1 {
      color: darkgrey;
    text-align: center;
    font-size: 2.6em;
    }
    .slide-number2 {
      color: blanchedalmond;
    text-align: center;
    font-size: 2.6em;
    }
    .slide-number3 {
      color: beige;
    text-align: center;
    font-size: 2.6em;
    }
    .slide-number4 {
      color: antiquewhite;
    text-align: center;
    font-size: 2.6em;
    }
  
    @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    70% {margin-left: -1456px;}
    80% {margin-left: -2184px;}
    90% {margin-left: -2184px;}
    }
    .serv-img{
      margin-left: 50%;
      margin-top: -50%;
      .ser-img{
          width:122.2%;
      }    
    }
} 
#contact{
    height: 130vh;
    background-image: url("http://bbbb-eufeps.org/wp-content/uploads/2018/07/contactus_header.jpg");
    background-size: cover;
    .offset-2{
        opacity: .0;
    }
    .ofset-1{
        margin-top: 15%;
        color: white;
    }
    .row{
    margin-top: 8%;
    height: 100vh;
    }
    .form-control {
    border-radius: 0px 0px 15px 15px;
    }
    .btnContact {
    border-radius: 0px 0px 15px 15px;
    color: white;
    }
    .email {
    margin-top: 10%;
    }
}
footer{
    background-color: rgb(209, 214, 252);
    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    } 
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all 0.3s ease;
        color: white;
        font-size: 20px;
    } 
    .icon-bar a:hover {
        background-color:gray;
    }  
    .facebook {
        background: #3B5998;
        color: white;
    } 
    .twitter {
        background: #55ACEE;
        color: white;
    } 
    .google {
        background: #dd4b39;
        color: white;
    }  
    .youtube {
        background: #bb0000;
        color: white;
    }
    .github{
        background: #141414;
        color: white;
    } 
    .content {
        margin-left: 75px;
        font-size: 30px;
    }
} 